<h1>Edit profile</h1>
<%= simple_form_for @profile, url: profile_path do |f| %>
 <%= f.input :first_name, label: "First name:" %>
 <%= f.input :last_name, label: "Last name:" %>
 <%= f.input :phone_number, label: "Phone number:" %>
 <p><%= f.submit "Save profile" %></p>
 <% end %>

  <%= link_to 'Edit password', edit_user_registration_path, :class => 'navbar-link' %> 

